/* .container {
    max-width: 1200px;
    margin: 0 auto; */
/* } */

.pricingContainer {
    display: flex;
    gap: 50px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 320px 200px;
    margin-block: -200px;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
}

@media (max-width: 800px) {
    .pricingContainer {
        display: none;
    }
}

.pricingContainer::-webkit-scrollbar {
    display: none;
}

/* .card {
    background: #ffffff14;
    border: 1px solid #ddd;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    min-width: 390px;
    height: 530px;
    position: relative;


} */


/* .card h3 {
    margin: 0 0 10px;
}

.card p {
    margin: 10px 0;
}

.card .price {
    font-size: 24px;
    color: #333;
}

.card button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
} */

/* .card button:hover {
    background-color: #0056b3;
}

.card video {
    display: none;
    position: absolute; 
    top: -4%;
    left: 9%;
    height: 100%;
    width: 100%; 
    transform: scale(2.6);
    pointer-events: none;
    z-index: -1;
} */

/* .active video {
    display: block;
}

.active {
    border: 2px solid rgb(18, 126, 4);
} */